################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages

*.suo
*.user
*.sdf
bin/
obj/
